@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
:root {
  --main-color: #a4907c;
  --body-background: #f1dec9;
  --second-color: #8d7b68;
  --main-transition: 0.5s;
}
body {
  background-color: var(--body-background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Marcellus;

  /* height: 5000px; */
}
a {
  text-decoration: none;
}
/* start header */

.mainTitle {
  margin-top: 40px;
  position: relative;
}

.mainTitle::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 4px;
  background-color: black;
  left: 40px;
  bottom: -7.5px;
}

header {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
header .nav {
  display: flex;
  list-style: none;
  gap: 0px 40px;
  align-items: center;
}
header .nav.open {
  position: absolute;
  background-color: white;
  display: block;
  right: 0;
  top: 60px;
  z-index: 99;
  padding: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

header .nav.open::before {
  content: "";
  position: absolute;
  right: 0;
  top: -20px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent white transparent;
}
header .nav > li {
  padding: 10px 15px;
  transition-duration: var(--main-transition);
}
header .nav > li:hover {
  color: var(--main-color);
}
header .nav > li > a {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: inherit;
  font-weight: 600;
}
header .nav > li.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
header .login {
  cursor: pointer;
}
header .burger-menu {
  display: none;
}
@media (max-width: 1120px) {
  header .nav {
    gap: 0px 0px;
  }
}
@media (max-width: 840px) {
  header .nav {
    display: none;
  }
  header .login {
    display: none;
  }
  header .burger-menu {
    display: block;
    cursor: pointer;
  }
}

.container {
  margin: 0 40px;
}

.container .content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container .content:nth-child(2) .img-holder,
.container .content:nth-child(4) .img-holder {
  text-align: right;
}

.img-holder {
  width: 50%;
}

.content img {
  width: 80%;
}

.content .txt-content {
  background: rgba(255, 246, 237, 0.51);
  padding: 20px;
  width: 50%;
  border-radius: 28px;
}

.content .title {
  text-align: center;
  color: #000;
  font-family: Marcellus;
  font-size: 38px;
}

.content label {
  font-family: Marcellus;
  font-size: 24px;
  font-weight: bold;
}

.content span {
  color: rgba(0, 0, 0, 0.8);
  font-family: Marcellus;
  font-size: 20px;
}

.content p {
  font-family: Marcellus;
  font-size: 20px;
}

@media (max-width: 840px) {
  .container .content {
    flex-direction: column;
  }
  .content .txt-content {
    width: 100%;
  }
  .content .img-holder {
    width: 100%;
    margin: 20px 0;
  }
  .content .img-holder img {
    width: 100%;
  }
}

/* start footer */
footer {
  background-color: var(--second-color);
  margin-top: 200px;
}
footer .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 0 50px;
  padding: 75px 0;
}
footer .container > div {
  width: 25%;
  line-height: 1.6;
}
footer .container > div .title {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
footer .container > div .title::before {
  position: absolute;
  content: "";
  left: 0;
  width: 70px;
  height: 3px;
  bottom: 0;
  background-color: #ffcb97;
}
footer .container > div .description,
footer .container > div .description a {
  color: rgba(255, 255, 255, 0.66);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  width: fit-content;
  transition-duration: var(--main-transition);
}
footer .container > div .description a:hover {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}
footer .container > div .description {
  display: flex;
  flex-direction: column;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  footer .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .container > div {
    width: 45%;
  }
}
@media (max-width: 650px) {
  footer .container > div {
    width: 100%;
  }
}
